@import '../../scss/mixin.scss';
@import '../../scss/variable.scss';
.am-list-item {
  .am-list-line .am-list-content {
    font-size: 14px;
  }
}

.am-button{
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border-radius: 20px;
}
.am-button-inline {
  // padding: 0;
  min-width: 80px;
}
.am-button-primary {
  background-color: #3E85FF;
  border: 1PX solid #3E85FF;
}


.am-list .am-list-item.am-checkbox-item .am-list-thumb {
  width: 18px;
  height: 18px; 
  &:first-child {
    margin-right: 20px;
  }
} 
.am-list .am-list-item.am-checkbox-item .am-list-thumb .am-checkbox-inner {
  top: 14px;
}
.am-checkbox-inner {
  border-radius: 0;
  width: 18px;
  height: 18px;
  &:after {
    top: 0;
    right: 5px;
  }
}

// 通用样式
.mid-list-item {
  &>.am-list-line {
    padding-right: 0;
    // 中横线
    margin-right: 15px;
  }
  .am-list-line:after {
    @include border-bottom;
  }
}

.custom-list {
  .am-list-body div:not(:last-child) .am-list-line::after {
    height: 0px !important;
  }
  .am-list-body::before {
    height: 0px !important;
  }
  .am-list-body::after {
    height: 0px !important;
  }
}

.nav-bar {
  color: #a0a0a0;
}

.s-card {
  padding: 1px;
  box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.1),
              0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  
  .am-list:last-child {
    text-align: right;
  }
  .calc-btn {
    margin-right: 15px;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    z-index: 10;
  }
}



.st-title {
  min-height: 20px;
  .am-list-line {
    .am-list-content {
      font-size: 12px;
      color: rgba(62, 133, 255, 1);
      padding-bottom: 0px;
    } 
  }
}

.rt-checkbox {
  .am-list-thumb .am-checkbox-inner {
    left: 36px !important;
  }
}
.deduct-list {
  top: 2px;
  .am-list-extra {
    .am-list-item .am-list-line {
      padding-right: 0;
    }
    .am-list-item .am-list-line .am-list-content {
      text-align: right;
    }
  }
  
}
.lt-checkbox .am-list-line .am-list-extra {
  position: relative;
  &:after {
    @include border-bottom;
  }
}
.add-deduct {
  padding: 20px 0 15px;
  .am-button-inline {
    padding: 0 18px;
  }
  .am-flexbox-item {
    margin-top: 5px;
    color: $theme-color;
  }
}
