@import '../../scss/mixin.scss';
@import '../../scss/variable.scss';
.am-list-item {
  .am-list-line .am-list-content {
    font-size: 14px;
  }
}

.am-button{
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border-radius: 20px;
}
.am-button-inline {
  // padding: 0;
  min-width: 80px;
}
.am-button-primary {
  background-color: #3E85FF;
  border: 1PX solid #3E85FF;
}


.am-list .am-list-item.am-checkbox-item .am-list-thumb {
  width: 18px;
  height: 18px; 
  &:first-child {
    margin-right: 20px;
  }
} 
.am-list .am-list-item.am-checkbox-item .am-list-thumb .am-checkbox-inner {
  top: 14px;
}
.am-checkbox-inner {
  border-radius: 0; 
  width: 18px;
  height: 18px;
  &:after {
    top: 0;
    right: 5px;
  }
}

// 通用样式
.mid-list-item {
  &>.am-list-line {
    padding-right: 0;
    // 中横线
    margin-right: 15px;
    .am-input-extra {
      max-height: 100%;
    }
    .am-list-extra {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  .am-list-line:after {
    @include border-bottom;
  }
}

.nav-bar {
  color: #a0a0a0;
}
.city-name {
  .am-icon {
    margin-right: 5px;
    width: 10px;
    height: 14px;
    background-image: url('./site.png');
  }
  b {
    margin-left: 5px;
    color: $theme-color;
    text-decoration: underline;
    font-weight: normal;
  }
}

.s-card {
  padding: 1px;
  box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.1),
              0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  
  .am-list:last-child {
    text-align: right;
  }
  .calc-btn {
    margin-right: 15px;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    z-index: 10;
  }
  // .am-list-item .am-input-label.am-input-label-5 {
  //   width: auto;
  //   font-size: 12px;
  //   color: rgba(62, 133, 255, 1);
  // }
}

.st-title {
  min-height: auto;
  font-size: 12px;
  color: rgba(62, 133, 255, 1);
  .am-list-line .am-list-content {
    padding-bottom: 0;
    font-size: 12px;
    color: rgba(62, 133, 255, 1);
  }
}

.deduct-list {
  background-color: #fff;
  padding-top: 15px;
  .am-list-extra {
    .am-list-item .am-list-line {
      padding-right: 0;
    }
    .am-list-item .am-list-line .am-list-content {
      text-align: right;
    }
  }
  
}
.lt-checkbox .am-list-line .am-list-extra {
  position: relative;
  &:after {
    @include border-bottom;
  }
}
.add-deduct {
  padding: 20px 0 15px;
  .am-button-inline {
    padding: 0 18px;
  }
  .am-flexbox-item {
    margin-top: 5px;
    color: $theme-color;
  }
}

.custom-percent {
  
  .am-list-item .am-list-line .am-list-content {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    &:after {
      @include border-bottom;
    }
  }
  .custom-header {
    min-height: auto;
    .am-list-line .am-list-content {
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }
  .am-list-item .am-input-control input {
    font-size: 14px;
  }
  .am-list-item.am-input-item {
    padding-left: 0;
  }
  .reset-data {
    min-height: auto;
    .am-list-line .am-list-content {
      text-align: right;
      color: rgba(62, 133, 255, 1);
      text-decoration: underline;
      &:after {
        display: none;
      }
    }
  }
}
// calc
.calc-list {
  background: #fff;
  .am-list-header {
    color: #333;
    font-weight: 600;
  }
  .am-list-body::before {
    height: 0px !important;
  }
  .am-flexbox .am-flexbox-item {
    display: flex;
    justify-content: space-around;
    .percent-item {
      font-size: 12px;
      color: rgba(62, 133, 255, 1);
    }
  }
}
.salary-pie {
  .pie-chart {
    height: 330px !important;
  }
}
.cost-pie {
  .pie-chart {
    height: 420px !important;
  }
}
.under-line {
  text-decoration: underline;
}
