
.deduct-modal {
  width: 90%;
  h3 {
    margin: 0;
    padding-left: 15px;
    text-align: left;
    font-size: 16px;
  }
  .am-modal-content {
    .am-modal-body {
      padding: 0 20px 15px;
    }
  }
  .am-list-item .am-input-control {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      background-color: #ddd;
      display: block;
      z-index: 1;
      top: auto;
      left: auto;
      bottom: 0;
      right: 0;
      width: 80%;
      height: 1PX; 
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
}

.rt-list-item.am-input-item {
  padding-left: 0;
  .am-input-label.am-input-label-5 {
    width: auto;
  }
}

.btn-deduct {
  margin-top: 20px;
}
